<%= simple_form_for @family  do |f| %>

    <div class="w40p panel-body ">
      <%= f.label :name %>
      <%= f.input :name, :label => false %>
      <%= error_span(@family[:name]) %>
    </div>

    <div class="w40p panel-body">
      <%=f.label :birth %><br/>
      <%= f.input :birth, as: :date, :class=>"datepicker" , :label => false %>
      <%= error_span(@family[:birth]) %>
    </div>

    <div class="w40p panel-body ">
      <%=f.label :relation %><br/>
      <%= f.input :relation, :label => false %>
      <%= error_span(@family[:relation]) %>
    </div>

    <div class="panel-body">
      <%= f.button :submit, :class => 'btn-primary' %>

      <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  families_path, :class => 'btn btn-default' %>
    </div>

<% end %>
