<%= simple_form_for(@family) do |f| %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.input :name, :label=>false %>
  </div>
  <div class="field">
    <%= f.label :birth %><br>
    <%= f.input :birth, as: :date , :label=>false%>
  </div>
  <div class="field">
    <%= f.label :relation %><br>
    <%= f.input :relation, :label=>false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
