<%= simple_form_for @chore, :html => { :class => 'form-horizontal' } do |f| %>
    <td></td>

    <div class="w40p panel-body ">
    <%= f.input :what_to_do,  :input_html=>{:class=>"form-control" } %>
    <%= error_span(@chore[:what_to_do]) %>
      </div>
    <div class="w40p panel-body ">
    <%= f.input :how_long_time_spend,  :input_html=>{:class=>"form-control" }%>
    <%= error_span(@chore[:how_long_time_spend]) %>
    </div>
    <div class="w40p panel-body ">
      <%=f.label :when_do_it %><br/>
      <%= f.input_field :when_do_it, as: :string, :class=>"datepicker"  %>
    <%= error_span(@chore[:when_do_it]) %>
    </div>
    <div class="w40p panel-body ">
      <%= f.association :family, collection: Family.all, prompt: "Choose a family", :input_html=>{:class=>"form-control"}  %>
      <%= error_span(@chore[:family_id]) %>
    </div>
    <% if false %>
    <div class="w40p panel-body ">
    <%= f.input :done,  :input_html=>{:class=>"form-control" } %>
    <%= error_span(@chore[:done]) %>
    </div>
    <div class="w40p panel-body ">
    <%= f.input :done_time,  :input_html=>{:class=>"form-control" } %>
    <%= error_span(@chore[:done_time]) %>
    </div>
     <%end%>

    <div class="panel-body ">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chores_path, :class => 'btn btn-default' %>
        </div>
<% end %>
