<%= simple_form_for @chore do |f| %>

  <div class="field">
    <%= f.label :what_to_do %><br>
    <%= f.input :what_to_do , label:false%>
  </div>
  <div class="field">
    <%= f.label :how_long_time_spend %><br>
    <%= f.input :how_long_time_spend, label:false %>Minutes
  </div>
  <div class="field">
    <%= f.label :when_do_it %><br>
    <%= f.input :when_do_it, as: :datetime, label:false %>
  </div>
  <div class="field">
    <%= f.label :family_id %><br>
    <%= f.association :family, collection: Family.all, prompt: "Choose a family" , label:false%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
